<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sogne</title>

    <link rel="stylesheet" th:href="@{/MyCSS.css}" href="../static/MyCSS.css">
</head>
<body>

<div class="container">
    <h1>Sogne</h1>
    <p>Rest Api for Kommuner og Sogne</p>

    <h3>
        Opret sogn
    </h3>
    <form name="create" action="/create" method="post">
        <input class="input-field" type="number" name="sogneKode" placeholder="Sognekode" required>
        <input class="input-field" type="text" name="sogneNavn" placeholder="Sogne navn" required>
        <input class="input-field" type="text" name="kommune" placeholder="Kommune navn" required>
        <input class="input-field" type="number" name="incidens" placeholder="Incidenstal" required>
        Nedlukningsdato:
        <input class="input-field" type="date" name="nedlukning" placeholder="Nedlukningsdato" required>
        <input type="submit" class="btn btn-primary" value="Opret">
    </form>

    <table id="sogneTable">
        <tr>
            <th>Navn</th>
            <th>Sognkode</th>
            <th>Kommune</th>
            <th>Smitteniveau</th>
            <th>Dato for nedlukning</th>
            <th></th>
        </tr>
        <tr th:each="sogn : ${sogne}">
            <td th:text="${sogn.navn}">navn</td>
            <td th:text="${sogn.sogneKode}">sognekode</td>
            <td th:text="${sogn.kommune}">kommune </td>
            <td th:text="${sogn.incidens}">incidens</td>
            <td th:text="${sogn.nedlukning}">incidens</td>
            <td>
                <div class="btn-group">
                    <a th:href="@{'/update/' + ${sogn.navn}}"class="btn btn-warning">Update</a>
                    <a th:href="@{'/delete/' + ${sogn.navn}}" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>


    </table>



</div>



</body>


</html>